@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject NavigationManager NavManager

<PageTitle>Home</PageTitle>

<h1>Welcome to the Course Enrollment App</h1>

<p>Welcome! You are now logged in and can access all features of the application.</p>

<p>Use the navigation menu on the left to browse courses and manage your enrollments.</p>